<% @posts.each do |post| %>
    <div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><%= post.title %></h3>
        <h4><b><%= post.user.name %></b></h4>
    </div>
    <div class="panel-body">
        <%= post.description %>
    </div>
    </div>
<% end %>